<div class="form">
  <h1 id="index-h1" class="text-center"><%= @user.nickname %>
  <img class="show-user-image" src="<%= @user.image_url %>">
  </h1>
  <h5 class="user-content"><%= @user.content %></h5>
  <!-- <%= link_to("プロフィールを編集する", "/users/#{@user.id}/edit", class: "text-center")%> -->
  <% if @user.id == @current_user.id %>
    <a href="<%= "/users/#{@user.id}/edit"%>"><button type="button" class="btn btn-primary">編集する</button></a>
  <% end %>
  <hr class= "user-divide">
  <h2 class="user-service text-center">開発したサービス</h2>
  <% @user.posts.each do |post| %>
    <div class="container">
      <div class="post-card">
        <div class="card-block">
          <label class="index-name">サービス名:</label><%= post.name %><br>
        <div class="post-about"><%= post.about %></div>
        <div class="link-show"><%= link_to("詳しく見る", "/posts/#{post.id}") %></div>
        </div>
      </div>
    </div>
  <%end%>
　</div>
