<div class="form">
<h1 id="index-h1" class="text-center">サービス一覧</h1>
<% @posts.each do |post| %>
  <div class="container">
    <div class="post-card">
      <div class="card-block">
        <img src="<%= "#{post.user.image_url}" if post.user %>" class="index-user-img">
        <!-- <span class="index-user-name">@<%= post.user.nickname if post.user %></span><br> -->
        <% if post.user %>
          <span class="index-user-name"><%= link_to(post.user.nickname, "/users/#{post.user.id}")%></span><br>
        <% end %>
        <div class="text-center">
          <label class="index-name"></label><span class="index-post-name"><h1><%= post.name %></h1></span><br>
        </div>
        <div class="post-about"><%= simple_format(post.about) %></div>
        <!-- <div class="text-center">
          <% if post.img_name %>
            <img class="service-image" src="<%= "/post_images/#{post.img_name}" %>">
          <% end %>
        </div> -->
        <div class="link-show"><%= link_to("詳しく見る", "/posts/#{post.id}") %></div>
        <div class="text-center show-comment">
        <img class="likes-icon" src="/like_red.png">
        <span class="likes-count-index">いいね！:<%= post.likes.count %>件</span>
        <img class="stars-icon" src="/star_yellow.png">
        <span class="stars-count-index">使いたい！:<%= post.stars.count %>件</span>
        <img class="comment-icon" src="/comment.png">
        <span class="comments-count-index"><%= post.comments.count %></span>
      </div>
      </div>
    </div>
  </div>
<%end%>
