<div class="form">
<h1 id="index-h1" class="text-center">サービス一覧</h1>
<% @posts.each do |post| %>
  <div class="container">
    <div class="post-card">
      <div class="card-block">
        <img src="<%= "#{post.user.image_url}" if post.user %>" class="index-user-img">
        <!-- <span class="index-user-name">@<%= post.user.nickname if post.user %></span><br> -->
        <% if post.user %>
          <span class="index-user-name"><%= link_to(post.user.nickname, "/users/#{post.user.id}")%></span><br>
        <% end %>
        <label class="index-name">サービス名:</label><%= post.name %><br>
        <div class="post-about"><%= simple_format(post.about) %></div>
        <div class="text-center">
          <% if post.img_name %>
            <img class="service-image" src="<%= "/post_images/#{post.img_name}" %>">
          <% end %>
        </div>
        <div class="link-show"><%= link_to("詳しく見る", "/posts/#{post.id}") %></div>
      </div>
    </div>
  </div>
<%end%>
