<div class="form">
<h1 id="index-h1" class="text-center">サービス一覧</h1>
<% @posts.each do |post| %>
<div class="container">
<div class="post-card">
  <div class="card-block">
    <img src="<%= "#{post.user.image_url}" if post.user %>" class="index-user-img">
    <span class="index-user-name">@<%= post.user.nickname if post.user %></span><br>
    <label class="index-name">サービス名:</label><%= post.name %><br>
    <div class="post-about"><%= post.about %></div>
    <div class="link-show"><%= link_to("詳しく見る", "/posts/#{post.id}") %></div>
  </div>
</div>
</div>
<%end%>
