<div class="form">
  <div class="container">
    <div class="post-card">
      <div id="post-show" class="card-block">
        <h1 id="name-show" class="text-center"><%= @post.name %></h1>
        <h5 class="text-center"><span class="show-theme">#<%= @post.theme %></span></h5>
    <!-- <label class="user-name"><span style="text-decoration: underline">作成者</span>:</label><%= @user.nickname if @user %><br> -->
        <img src="<%= "#{@post.user.image_url}" if @post.user %>" class="user-img">
        <% if @post.user %>
          <span class="user-name"><%= link_to(@post.user.nickname, "/users/#{@post.user.id}") %></span><br>
        <% end %>
    <!-- <label class="show-url"><span style="text-decoration: underline">URL</span>:</label> -->
        <% unless @post.catchcopy.blank? %>
          <h5 class="show-catchcopy">キャッチコピー:<%= @post.catchcopy %></h5>
        <% end %>
        <% unless @post.url.blank? %>
          <span style="text-decoration: underline" class="show-url"><%= link_to("サービスはこちらから","#{@post.url}") %></span><br>
        <% end %>
        <label class="show-about"><span style="text-decoration: underline">説明</span>:</label>
        <div class="show-abouttext"><%= simple_format(@post.about) %></div><br>
        <label class="show-strength"><span style="text-decoration: underline">こだわった点</span>:</label>
        <div class="show-strengthtext"><%= simple_format(@post.strength) %></div>
        <label class="show-strength"><span style="text-decoration: underline">完成までのストーリーや開発手段</span>:</label>
        <div class="show-strengthtext"><%= simple_format(@post.stroy) %></div>
        <% if current_user && current_user.id == @post.user_id %>
          <div class="edit-link text-right">
            <%= link_to("編集する","/posts/#{@post.id}/edit") %>
            <span class="destroy-link"><%= link_to("削除する","/posts/#{@post.id}/destroy", method: :post) %></span>
          </div>
        <% end %>
        <%= render :partial => "likes" %>
      </div>
      <% unless @post.comments.blank? %>
        <%= render :partial => "comment_index" %>
      <%end %>

      <% if current_user %>
        <%= render :partial => "comment_form" %>
      <% end %>
    </div>
  </div>
</div>
