<div class="form">
  <div class="container">
    <div class="post-card">
      <div id="post-show" class="card-block">
        <h1 id="name-show" class="text-center"><%= @post.name %></h1>
        <h5 class="text-center"><span style="color: "#C0C0C0""class="show-theme"><%= @post.catchcopy unless @post.catchcopy.blank? %></span></h5>
        <div class="text-center">
          <% if @post.img_url %>
            <% if File.extname(@post.img_url) =~ /.*\.png/i || File.extname(@post.img_url) =~ /.*\.jpg/i  || File.extname(@post.img_url) =~ /.*\.jpeg/i%>
              <img class="eyecatch-img-show" src="<%= @post.img_url if @post.img_url %>">
            <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <a class="btn btn-primary text-center use-btn" href="<%= @post.url %>">サービスを見る</a>
        </div>
        <img src="<%= "#{@post.user.image_url}" if @post.user %>" class="user-img">
        <% if @post.user %>
          <span class="user-name"><%= link_to(@post.user.nickname, "/users/#{@post.user.id}") %></span><br>
        <% end %>

        <label class="show-about"><span class="line-explanation">説明</span></label>
        <div class="show-abouttext"><%= simple_format(@post.about) %><hr style="border-color: #00CCCC"></div>
        <label class="show-strength"><span class="line-explanation">こだわった点</span></label>
        <div class="show-strengthtext"><%= simple_format(@post.strength) %><hr style="border-color: #00CCCC"></div>
        <label class="show-strength"><span class="line-explanation">完成までのストーリー</span></label>
        <div class="show-strengthtext"><%= simple_format(@post.stroy) %></div>
        <!-- <% if @post.img_name %>
          <div class="text-center">
            <img class="service-image" src="<%= "/post_images/#{@post.img_name}" %>">
          </div>
        <% end %> -->
        <% if current_user && current_user.id == @post.user_id %>
          <div class="edit-link text-right">
            <%= link_to("編集する","/posts/#{@post.id}/edit") %>
            <span class="destroy-link"><%= link_to("削除する","/posts/#{@post.id}/destroy", method: :post) %></span>
          </div>
        <% end %>
        <%= render :partial => "likes" %>
      </div>
      <!-- <a href="http://twitter.com/share?tag=Develotter">Twitter</a> -->
      <% if current_user && current_user.id == @post.user_id %>
        <font size="4">Twitterにも投稿する</font>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-text="サービス作ってみました！<%=@post.name%>" class="twitter-share-button" data-hashtags="Develotter" data-lang="ja" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <% else %>
        <font size="4">このサービスをシェアする</font>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-text="このサービス面白い！<%=@post.name%>" class="twitter-share-button" data-hashtags="Develotter" data-lang="ja" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <% end %>

      <% unless @post.comments.blank? %>
        <%= render :partial => "comment_index" %>
      <%end %>

      <% if current_user %>
        <%= render :partial => "comment_form" %>
      <% end %>
    </div>
  </div>
</div>
